<!DOCTYPE html>
<html>
<head>
    <title>STEALTHNET // Secure Entry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
 <video autoplay muted loop playsinline id="bgVideo">
    <source src="{{ url_for('static', filename='videos/bg.mp4') }}" type="video/mp4">
</video>   
<div class="warning-box">

    <h1>⚠ CLASSIFIED SYSTEM ⚠</h1>
    <p>Unauthorized access is strictly prohibited.</p>
    <p>All activity is monitored and logged.</p>

    <div class="enter-btn">
        <a href="{{ url_for('signup') }}"class="btn">
            ENTER SECURE TERMINAL
        </a>
    </div>
</div>

</body>
</html>